muleapp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e195ee1c-df0c-4ba6-98b4-4bb7b1f266d7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleappFlow" doc:id="960137df-3982-44e4-a1c5-087bc71c5efc" >
		<http:listener doc:name="Listener" doc:id="31346adc-7828-43eb-96c6-ce84f87f1f0d" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello World"]' doc:name="Set Payload" doc:id="fa7f94a7-c4b1-49b8-ba9d-4901e6c245aa" />
	</flow>
</mule>
